@{
    ViewBag.Title = "Home Page";
}
<script src="../Scripts/jquery-1.9.1.min.js"></script>
<script src="../Scripts/jssor.slider.mini.js"></script>
<script>
    jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>
<div id="slider1_container" style="position: relative ; top: 100px; left: 50px; width: 1139px; height: 509px;">
    
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
        <div><img id="image" src="../image/image1.jpg" /></div>
        <div><img id="image" src="../image/qqq.jpg" /></div>
    </div>
</div>


<h1>ATELIER </h1>



